<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
        xmlns:gap	= "http://phonegap.com/ns/1.0"
        id		= "com.imgur.demo"
        version 	= "1.0.0">

    <name>Imgur</name>

    <description>
        Upload images taken from your mobile device to Imgur
    </description>

    <author href="https://github.com/savcha"
            email="savchenko.a@husky.neu.edu">
        Anton Savchenko
    </author>

    <icon src="resources/icons/icon-android-36.png" width="36" height="36"/>
    <icon src="resources/icons/icon-android-48.png" width="48" height="48"/>
    <icon src="resources/icons/icon-android-72.png" width="72" height="72"/>

    <gap:splash src="resources/icons/splash.gif"/>

    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/camera"/>
    <feature name="http://api.phonegap.com/1.0/file"/>

    <preference name="orientation" value="portrait" />
</widget>